.DS_Store
SwiftyStyle/MyPlayground.playground/timeline.xctimeline
SwiftyStyle/SwiftyStyle.xcodeproj/project.xcworkspace/contents.xcworkspacedata
SwiftyStyle/SwiftyStyle.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
SwiftyStyle/SwiftyStyle.xcodeproj/project.xcworkspace/xcuserdata/ldstreet.xcuserdatad/UserInterfaceState.xcuserstate
SwiftyStyle/SwiftyStyle.xcodeproj/project.xcworkspace/xcuserdata/ldstreet.xcuserdatad/WorkspaceSettings.xcsettings
SwiftyStyle/build/*