.DS_Store
SwiftyStyle/MyPlayground.playground/timeline.xctimeline
SwiftyStyle/SwiftyStyle.xcodeproj/project.xcworkspace/contents.xcworkspacedata
SwiftyStyle/SwiftyStyle.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
SwiftyStyle/SwiftyStyle.xcodeproj/project.xcworkspace/xcuserdata/ldstreet.xcuserdatad/UserInterfaceState.xcuserstate
SwiftyStyle/SwiftyStyle.xcodeproj/project.xcworkspace/xcuserdata/ldstreet.xcuserdatad/WorkspaceSettings.xcsettings
SwiftyStyle/build/*
SwiftyStyle/SwiftyStyle.xcodeproj/xcuserdata/ldstreet.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
SwiftyStyle/SwiftyStyle.xcodeproj/xcuserdata/ldstreet.xcuserdatad/xcschemes/SwiftyStyle.xcscheme
