<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StyleOne</key>
	<dict>
		<key>normalTitleColor</key>
		<string>ffffff</string>
		<key>font</key>
		<string>title1</string>
		<key>highlightedTitleShadowColor</key>
		<string>000000</string>
		<key>normalBackgroundColor</key>
		<string>000000</string>
		<key>highlightedBackgroundColor</key>
		<string>00ff00</string>
		<key>borderColor</key>
		<string>ff0000</string>
		<key>borderWidth</key>
		<integer>4</integer>
	</dict>
</dict>
</plist>
